.accordion {
    background-color: rgba(204, 204, 204, 0);
    cursor: pointer;
    
    padding: 0px 14px;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    

}
p{
    margin: 0;
}
h1{
    margin: 0;
}
.sswq{
    background-color: #f5f5f5;
    padding-top: 0.2px;
}


.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0 20px;
    border-top: 1px solid #ddd;
    

}
.ssa{
    
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.aw{
    border: 1px solid black;
}
.saw{
    font-size: 19px;
    padding: 10px 0px;
    background-color: #fcfcfc;
    padding-left: 20px;
    border-bottom: 1px solid black;   


}
.ii{
    max-width: 80%;

}
.saww{
    padding: 10px;
    font-size: 25px;
    padding-left: 20px;
    border: 1px solid black;   
    border-radius: 10px 10px 0 0;
}
.but{
    height: 40px;
    background-color: rgba(68, 68, 68, 0);
    border: 1px solid black;

}
.but:hover{
    background-color: #ccc;
    
}
body{
    margin: 100px 200px;

}
.ji{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 200px;
}
.accordion:hover{
    text-decoration: underline;

}
.pi{
    color: white;
    width: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}
.get{
    background-color: rgb(89, 84, 249);
}
.post{
    background-color: rgb(14, 160, 9);
}
.delete{
    background-color: rgb(253, 91, 91);
}















/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    padding-top: 50px; /* Расположение коробки */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант  */
    background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
  }
  
  /* Модальное содержание */
  .modal-content {
    border-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
  }
  
  /* Добавить анимацию */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Кнопка закрытия */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    border-radius: 10px 10px 0 0;
    padding: 2px 16px;
    
    color: white;
  }
  
  .modal-body {
    padding: 0px 16px;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }






  .tab {
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: scroll;
    height:560px;
}


.TESS{
background-color: #f5f5f5;    
margin: 16px 20px;
padding: 15px;
border-radius: 5px;
border: 1px solid #ccc;
}
.Restes{
    background-color: #f5f5f5;    
margin: 10px;
padding: 15px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: inherit;
}

.re{
    background-color: #d9edf7;
    padding: 20px 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 10px;
    border-radius: 10px;
    border-color: #bce8f1;
    color: #31708f;
    display: flex;
    justify-content: space-between;
}
.isds{
    padding-left: 30px;

}
.isds:last-child{
    padding-left: 0px;
}
.isd{
    padding-left: 30px;
}

.Des>p:nth-child(1){
    padding: 5px 30px;
    font-weight: bold ;
}
.tew > p{
    font-weight: bold ;
    margin: 10px;
}
.tew > p:nth-child(3){
    
    padding-left: 10px;
}
.sqr,.sqre{
    margin: 10px;
    font-size:19px;
}
.isd2,.isd2_2{
    padding-left: 80px;
}
.isd3,.isd3_3{
    padding-left: 150px;
}
.isd4,.isd4_4{
    padding-left: 180px;
}

.isd5,.isd5_5{
    padding-left: 280px;
}

.yui{
    background-color: #31708f;
    padding: 15px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    left: 750px;
}